body{
    /* background: linear-gradient(to top, rgb(136, 104, 144), rgb(14, 43, 71)); */
    margin:0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* ----------------------------------------------------------- */
/* Barre de naviguation */
.nav-bar{
    background-color: rgb(0, 0, 0);
    gap:20px;
    border-bottom: solid;
    border-width: 1px;
    border-color: white;
    display: grid;
    grid-template-columns: 58% 40%;
    height: 50px;
    width: 100%;
}
/* ----------------------------------------------------------- */
/* Partie gauche */

.nav-bar>.nav-bar-left-side{
    order:2;
    /* background-color: aqua; */
    height: inherit;
    padding-top: 8px;
}

.nav-bar>.nav-bar-left-side>div{
    width: 80px;  
    padding: 10px;
    text-align: center;
    display: inline-flex;
    align-items:  center;
}

.nav-bar-left-side>div:hover{
    background-color: rgba(255, 255, 255, 0.157);
    border-radius: 10px;  
}

.nav-bar>.nav-bar-left-side>div>a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 15px;
}

/* ----------------------------------------------------------- */
/* Partie droite */
.nav-bar>.nav-bar-right-side{
    order:1;
    padding-bottom: 0;
    /* background-color: aqua; */
    height: inherit;
    padding-top: 8px;
    
    
}

.nav-bar>.nav-bar-right-side>div>p{
    color: white;
    height: 30px;
    margin: 0px;
    padding-left: 50px;
    padding-top: 5px;   
    vertical-align: middle;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ---------------------------------------------------------------------------------------------------------------------- */
/* Image de l'araigné */

.araigne{
    position: absolute;
    top:-20px;
    left:100px;  
    z-index: 0;
    pointer-events: none;
}

/* ---------------------------------------------------------------------------------------------------------------------- */

.website-description{
    display: grid;
    background-color: rgb(34, 95, 74);
    grid-auto-columns: 10vw;
    grid-auto-rows: 10vh;
    height: 200vh;
}

.rond{
    background-color: red;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    grid-column-start: 2;
    grid-row-start: 2;
}

.first-block{
    /* background-color: bisque; */
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 3;
    
}

.first-block>h1{
    margin: 0;
    text-align: left;
    font-size: 7vw;
    
}







